body{
	
}
.columna{
	border:2px solid #666;
	width:110px;
	float:left;
}
.columnaHs{
	border:2px solid #666;
	width:45px;
	float:left;
}
.combo{
	margin:0;
}

#cabecera{ height:18% ;  }
#contenido { height: 80%}
#contenedor{width:900px; height:600px; margin:1% auto;
	position:relative;
}

#frontContainer{width:900px;height:725px;background:#F5F5F5;margin:1% auto; position:absolute; z-index:2;}
#backContainer{width:900px;height:725px;margin:1% auto; background:url('../../static/img/pxTrans.png'); position:absolute; z-index:1;}

#alta{
	
}

.centrado{
	margin:3%;
	padding:2%;
	background:#666;
}
.tablaAltaTurno{
	color:#FFF;
}
